<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header" th:fragment="fontend_sidebar">
    <div class="container position-static">
        <div class="row">
            <div class="col-12 position-static text-center">
                <nav class="main-navigation">
                    <ul class="mainmenu">
                        <li class="mainmenu__item active menu-item-has-children has-children">
                            <a href="index.html" class="mainmenu__link">Trang chủ</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children">
                            <a href="shop.html" class="mainmenu__link">Sản phẩm</a>
                            <ul class="megamenu five-column">
                                <li>
                                    <a class="megamenu-title" href="#">Shop Grid</a>
                                    <ul>
                                        <li>
                                            <a href="shop.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth.html">Three Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-fullwidth-4-column.html">Four Column</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="#">Shop List</a>
                                    <ul>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list.html">Full width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="#">Single Product</a>
                                    <ul>
                                        <li>
                                            <a href="product-details.html">Standard Product</a>
                                        </li>
                                        <li>
                                            <a href="product-details-variable.html">Variable Product</a>
                                        </li>
                                        <li>
                                            <a href="product-details-group.html">Group Product</a>
                                        </li>
                                        <li>
                                            <a href="product-details-affiliate.html">Affiliate Product</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="#">Single Product</a>
                                    <ul>
                                        <li>
                                            <a href="product-details.html">Tab Style One</a>
                                        </li>
                                        <li>
                                            <a href="product-details-tab-style-2.html">Tab Style Two</a>
                                        </li>
                                        <li>
                                            <a href="product-details-tab-style-3.html">Tab Style Three</a>
                                        </li>
                                        <li>
                                            <a href="product-details-sticky-left.html">Sticky Left</a>
                                        </li>
                                        <li>
                                            <a href="product-details-sticky-right.html">Sticky Right</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="#">Single Product</a>
                                    <ul>
                                        <li>
                                            <a href="product-details-gallery-left.html">Gallery Left</a>
                                        </li>
                                        <li>
                                            <a href="product-details-gallery-right.html">Gallery Right</a>
                                        </li>
                                        <li>
                                            <a href="product-details-slider-box.html">Slider Box</a>
                                        </li>
                                        <li>
                                            <a href="product-details-slider-full-width.html">Full Width Slider</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="blog.html" class="mainmenu__link">Tin Tuc</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children has-children">
                                    <a href="#">Blog Grid</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-3-column.html">Three Column</a></li>
                                        <li><a href="blog-4-column.html">Four Column</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="#">Blog List</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-list.html">Full Width</a></li>
                                        <li><a href="blog-list-left-sidebar.html">left Sidebar</a></li>
                                        <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="#">Blog Details</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-details-image.html">Standard Post</a></li>
                                        <li><a href="blog-details-image.html">Image Post</a></li>
                                        <li><a href="blog-details-audio.html">Audio Post</a></li>
                                        <li><a href="blog-details-video.html">Video Post</a></li>
                                        <li><a href="blog-details-gallery.html">Gallery Post</a></li>
                                        <li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item">
                            <a href="about.html" class="mainmenu__link">Về Mirora</a>
                        </li>
                        <li class="mainmenu__item">
                            <a href="contact.html" class="mainmenu__link">Liên Hệ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>